.instruction::-webkit-scrollbar {
    width: 5px;
}
   
.instruction::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.instruction::-webkit-scrollbar-thumb {
    background-color: #747474;
    outline: 1px solid #747474;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #C0D8F0;
    position: fixed;
    overflow: hidden;
}

*{
    font-family: 'Lilita One', cursive;
}

.start, .game, .howToPlay, .final{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    text-align: center;
    min-height: 100vh;
}
.start, .final{
    background-image: url("./img/background.png");
    background-size: contain;
}
.game{
    background-image: url("./img/water.png");
    position: relative;
    background-size: 60% 100%;
    background-position:right;
    background-repeat: no-repeat;
}


.final{
    align-items: center;
}

.game-title{
    margin-top: 10%;
    align-self: center;
    width: 80%;
}

.title{
    width: 100%;
    box-sizing: content-box;
}

.preview{
    width: 80%;
    margin: 70px auto;
    padding: 1%;
}

.startButton, .startGame, .submit,.next, .restart,.readyButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #58A3B4;
    box-shadow: 0px 8px #255F6C;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 10%;
    color: white;
    font-size: 25px;
}

.next, .readyButton{
    font-weight: 500;
    justify-content: center;
}

.startGame {
    margin-top: 40px;
}

.startButton p, .startGame p, .submit p {
    margin: 3%;
    margin-right: 6%;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
}

.hide{
    display: none;
    visibility: hidden;
}

.instruction{
    border: 2px solid #747474;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding:0 20px;
    box-sizing: border-box;
    font-size: 19px;
    text-align: left;
    max-height: 50vh;
    overflow-y: scroll;
}
h1{
    font-size: 26px;
    margin-top: 30px;
}

hr{
    width: 90%;
    background-color: #474747;
    border: 2px solid #474747;
    margin-bottom: 0%;
}

.example{
    display: flex;
    flex-direction: row;
}
.object, .help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.object img{
    width: 100%;
}

.small{
    width: 30% !important;
}

.help img{
    width: 30%;
    margin-bottom: 10%;
}


.game-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;
}

.end-line{
    width: 10%;
    height: 15px;
    position: absolute;
    background-color: #474747;
    bottom: -15px;
}

.tank{
    width: 150px;
    height: 100px;
    background-image: url("./img/Tank.png");
    z-index: 5;
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 150px;
    left: 0px;
}

.top{
	position: relative;
	display: flex;
	border-radius: 20px;
	font-size: 20px;
	width: 150px;
    height: 150px;
    top: 5px;
    flex-direction: column;
    align-items: center;
}

.goal{
    width: 100px;
    padding: 8% 2.5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}

.goal p {
    margin: 0;
}
.goal img{
    width: 70%;
}

.chance p{
    font-size: 20px;
    margin-bottom: 5px;
}

.chance img{
    margin: 10px;
    width: 50%;
}
.right{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.targetLabel  {
	color: white;
	margin:0 !important;
}

.targetName{
	color: white;
	font-size: 14px;
	top: 0%;
	margin: 0%;
}

.scoreCount{
    font-size: 30px;
	align-self: center;
	margin: 0 !important;
}

.blue{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/blue.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.brown{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/brown.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.orange{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/orange.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.green{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/green.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.red{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/red.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.popUp, .ready{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    background-color: transparent;
}

.pop{
    background-color: white;
    position: relative;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information,.detail{
    width: 90%;
    position: relative;
    height: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.information img, .detail img{
    width: 60%;
    height: auto;
}

.information h1{
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;
}

.detail h1{
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px !important;
    margin: 0;
}

.information p{
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.detail p{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.title-final{
	position: relative;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.icon{
    width: 200px;
	height: 110px;
	margin-top: 10px;
    color: white;
}

.icon p{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 1rem;
}

.tick{
	width: 20% !important;
}

.icon img{
	width: 20%;
	position: relative;
	box-sizing: border-box;
}

.text{
    position: relative;
	width: 80%;
    margin-bottom: 2.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    line-height: normal;
    border-radius: 10px;
    font-size: 17px;
    padding: 15px;
}

.text p{
    font-size: 30px;
	margin: 5% 2.5%;
	color: white;
}

.text img{
    width: 80%;
    height: auto;
    align-self: center;
    top: 2%;
}

  /*mobile*/
@media screen and (max-width: 767px){
    .startButton, .startGame, .restart {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
    .next, .readyButton{
        width: calc(100% - 100px);
        padding: 3%;
        justify-content: center;
        align-items: center;
    }
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    body{
      width: 100%;
    }
    .start, .howToPlay, .game,.final, .popUp, .ready{
        max-width: 600px;
        margin: 0 auto;
    }
    .start,.game,.final, .popUp, .ready{
      left: 0;
      right: 0;
    }
    .tank{
        bottom: 145px;
        width: 200px;
        height: 145px;
    }
    .game{
        background-size: 65% 100%;
    }
    .top{
        width: 250px;
    }
    .preview{
        margin: 150px auto;
        width: 80%;
    }
    .words{
        font-size: 30px;
        width: 90%;
    }
    .arrowHead{
        max-width: 20px;
    }
    .startButton, .startGame,.next,.readyButton, .restart{
        max-width: 300px;
    }
    .pop,.detail{
        max-width: 400px;
        max-height: 400px;
    }
    .blue, .brown,.red,.orange,.green{
        margin-left: 40px;
        height: 160px;
        width: 160px;
    }
    .goal{
        width: 130px;
        padding: 8% 4%;
    }
    .goal p{
        font-size: 30px;
    }
    .scoreCount{
        font-size: 40px !important;
    }
    .chance p{
        font-size: 25px;
    }
    .goal img{
        width: 100%;
    }
    .text img{
        width: 80%;
    }
    .information h1, .text p{
        font-size: 40px;
    }
    .information img{
        max-width: 200px;
    }
    .information p, .detail p {
        font-size: 30px;
    }
}


/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start, .howToPlay,.game,.final{
        max-width: 400px;
        margin: 0 auto;
    }
    .preview{
        max-width: 300px;
        margin: 40px auto;
    }
    .con p{
        margin-top: 3%;
        margin-bottom: 0%;
    }
    .tank{
        bottom: 0px;
    }
    .con{
        margin-top: 1%;
        margin-bottom: 0%;
        padding-bottom: 1%;
    }
    .start, .final, .game{
      left: 0;
      right: 0;
    }
    .instruction{
        max-height: 60vh;
    }
    .icon{
        height: 95px;
    }
    .final-title img{
        padding-bottom: 2.5%;
    }
    .icon p{
        margin-bottom: 10px;
    }
    .pop, .detail{
        max-width: 300px;
    }
    .pop img, .detail img{
        max-width: 130px;
    }
    .information p{
        font-size: 20px;
    }
    .startButton, .startGame,.restart{
        max-width: 250px;
    }
    .readyButton, .next{
        padding: 3%;
        max-width: 200px;
    }
    .final-title{
        margin-top: 0%;
    }
    .text img{
        max-width: 200px;
    }
}